* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.margin-left {
    margin-left: 10px;
}
body {
    height: 1200px;
}


.header {
    background-color: rgb(254, 209, 0);
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    font-size: 16px;
    color: black;
    font-weight: 600;
    align-items: center;
   

}
.header-nav {
    display: flex;
    cursor: pointer;
}
.header-nav-list:hover{
    opacity: 0.5;
}

.header-nav-list:first-child{
    margin-right: 10px;
}

/* main IMG */
.main-img {
    margin: 20px 5px;
    position: relative;
}
.main-img img {
    width: 100%;
}

.left-click {

    font-size: 30px;
    position: absolute;
    left: 10px;
    top:35%;
    

}
.right-click {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top:35%;

}
.left-click:hover,
.right-click:hover {
    opacity: 0.6;
    cursor: pointer;
}
/* hình phụ */
.sub-img img {
    margin: 20px 0;
    width: 100%;
}

/* sản phẩm */

.checked {
    color: yellow;
}

.product {
    display: grid;
    width: 100%;
    grid-template-columns: 18% 18% 18% 18% 18%;
    width: 100%;
    background-color: #FFD31D;
    padding-top: 10px;
    column-gap: 5px;
    justify-content: space-evenly;
    padding-bottom: 10px;
   
}

.product-list-info {
    padding-left: 6px;
}

.product-list {
    margin-top: 10px;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 4px;
}

.product-list img {
    width: 100%;
}

.product-list a {
    text-decoration: none;
}
.evalustar {
    cursor: pointer;
}
.product-list-info-icon {
    color: orange;
    margin-left: 120px;
    font-size: large;
    cursor: pointer;
}
.product-list-info-icon:hover {
    opacity: 0.7;
    transform: translateY(-5px);
}